* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body {
    height: 100%;
    width: 100%;
}

:root {
    --container-bg: hsl(0, 0%, 100%);
    --body-bg: hsl(30, 54%, 90%);
    --other-color: hsl(30, 18%, 87%);
    --paragraph: hsl(30, 10%, 34%);
    --h-color: hsl(24, 5%, 18%);
    --headings-color:  hsl(14, 45%, 36%);
    --additional-color: hsl(332, 51%, 32%);
    --additional-bg-color: hsl(330, 100%, 98%);
}

body {
    background-color: var(--body-bg);
    font-family: "Outfit", sans-serif;
}

/* Intro styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box {
    width: 700px;
    max-width: 100%;
    background-color: var(--container-bg);
    padding: 3rem;
    margin: 4rem;
    border-radius: 20px;
}
.intro img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.intro h1 {
    color: var(--h-color);
    font-size: 37px;
    margin-bottom: .5rem;
    font-family: "Young Serif", sans-serif;
}
.intro p {
    font-size: 16px;
    color: var(--paragraph);
}

/* preparation & ingredient style */
.preparation {
    margin-top: 1rem;
    background-color: var(--additional-bg-color);
    padding: 1rem;
    border-radius: 10px;
}
.preparation h3 {
    color: var(--additional-color);
    margin-bottom: .5rem;
}
.preparation ul, .ingredients ul {
    list-style-type: none; /* Remove default bullets */
}
.preparation li, .ingredients li {
    color: var(--paragraph);
    padding-left: 1rem;
}
.preparation span, .instructions span, .instructions strong {
    color: var(--paragraph);
}
h2 {
    color: var(--headings-color);
    margin-bottom: 1rem;
    font-family: 'young Serif', sans-serif;
    margin-top: 2rem;
}
.ingredients li::before, .preparation li::before  {  
    content: '•'; 
    margin-right: 30px; 
    font-size: 16px; 
    color: var(--headings-color);
    vertical-align: middle; 
}
/* Ingredients */
.ingredients {
    margin-bottom: 2rem;
}
/* instructions */
.instructions ol {
    padding: 0 0 2rem 2rem;
    font-weight: bold;
}
.instructions li {
    color: var(--headings-color);
    margin-bottom: .5rem;
    padding-left: 1rem;
}
.instructions strong {
    font-weight: 700;
}
.instructions span {
    font-weight: normal;
}

/* Nutrition styles */
.nutrition p {
    color: var(--paragraph);
    margin-bottom: 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid var(--other-color);
}
td {
    padding: .5rem 0 1rem 2rem;
}
tr strong {
    color: var(--headings-color);
}
hr {
    border: 1px solid var(--other-color);
}

/* media querry */
@media screen and (max-width: 550px) {
    .box {
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
        border-radius: 0;
    }
    .intro img {
        width: 100%;
        border-radius: 0;
        margin-bottom: 1rem;
    }
    .intro .div, .preparation, .ingredients, .instructions, .nutrition {
        padding: 2rem;
    }
    .preparation {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: var(--additional-bg-color);
        padding: 1rem;
        border-radius: 10px;
    }
    hr {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
